
﻿<h1>ค่าการประเมินอายุ</h1>
<%= form_for @dp, :url => {:action => "update"}, :html => {:method => 'post'} do |f| %>
<div class='grid_12 prefix_2 chemicals' >
   <p>
	<%= f.label :dp, "ค่า DP Limit",:class => 'inline' %>
	<%= f.text_field :dp, :size => 15 %>
   </p>
</div>
<div class='grid_12 prefix_3' >
<p>
<%= submit_tag "Save", :class => 'cupid-green' %>
</p>
</div>
test
<% end %>
