<table border=1>
  <tr>
    <td colspan =3><center><b>ราคาต้นทุนทั้ง 3 ทางเลือก</b></center></td>
  </tr>
  <tr>
    <th><center>Option No.</center></td>
    <th><center>Option</center></td>
    <th><center>ราคาต้นทุน ณ เวลาปัจจุบัน (NPV)</center></td>
  </tr>
  <tr>
    <td><center>1</center></td>
    <td>ซ่อม ณ ปัจจุบันและซ่อมหม้อแปลงสำรองเพื่อใช้งานต่อ</td>
    <td><center><%= number_with_precision(@eco_conclusion, :delimiter => ',', :precision => 2)  %></center></td>
  </tr>
  <tr>
    <td><center>2</center></td>
    <td>ซ่อม ณ ปัจจุบันและซื้อหม้อแปลงใหม่เมื่อสิ้นสุดใช้งานหม้อแปลงเดิม</td>
    <td><center>NPV2</center></td>
  </tr>
  <tr>
    <td><center>3</center></td>
    <td>ซื้อหม้อแปลงใหม่มาใช้งานแทน</td>
    <td><center>NPV3</center></td>
  </tr>
  <tr>
    <td colspan =3></td>
  </tr>
</table>
<p class="ecoconclusionlabel">ทางเลือกที่เหมาะสมเชิงเศรษฐศาสตร์</p>  <p class="ecoconclusion">"ซื้อหม้อแปลงใหม่"</p>
