<h1>รายงานตามผู้ใช้งานสำหรับหม้อแปลงไฟฟ้า</h1>
<p><b><font color="#56a86f">เลือกเงื่อนไขในการสร้างกราฟ</font></b></h3></p><br>
<p><div class='grid_10 prefix_0 accessories' ><table>
	<tr><td>รูปแบบการแสดงผล :</td><td><input type="radio" name="chart" checked value="1">&nbsp;กาฟวงกลม</td>
	<td><input type="radio" name="chart" value="2">&nbsp;กาฟแท่ง</td></tr>

	<tr><td>หน่วยการแสดงผล :</td><td><input type="radio" name="unit" checked value="1">&nbsp;จำนวน</td>
	<td><input type="radio" name="unit" value="2">&nbsp;เปอร์เซ็นต์</td></tr>

	<tr><td>เขต :</td><td colspan=2>
			<select id="area" name="area">
				<option value="#">Please Select....</option>
			</select>
	</td></tr>
	<tr><td>สถานีไฟฟ้า :</td><td colspan=2>
			<select id="station" name="station">
				<option value="#">Please Select....</option>
			</select>
	</td></tr>
	<tr><td>หม้อแปลงไฟฟ้า :</td><td colspan=2>
			<select id="transformer" name="transformer">
				<option value="#">Please Select....</option>
			</select>
	</td></tr>
	<tr><td>ชื่อบริษัทผู้ผลิต :</td><td colspan=2>
			<select id="manufacturer" name="manufacturer">
				<option value="#">Please Select....</option>
			</select>
	</td></tr>
</table></p>
<p><b><font color="#56a86f">เลือกการแบ่งกลุ่ม (แบ่งตาม)</font></b><br><br>
	<select id="group" name="group">
		<option value="#">Please Select....</option>
	</select>
</p></div>
