<h1>Score Color</h1>
<STYLE type="text/css"> 
	input[id="text1"] {
		width: 15px;
	}
	input[id="text2"] {
		width: 40px;
	}
	input[id="text3"] {
		width: 10px;
	}
</STYLE> 
<p>
<%= form_tag('#', :method=>'post', :multipart => true, :name => 'dynamiccombo') do %>
<table>
<tr>
	<th rowspan="2"><center><b>No.</b></center></th>
	<th rowspan="2"><center>Criteria</center></th>
	<th rowspan="2"><center>BUS<br>Voltage<br>[KV]</center></th>
	<th colspan="6"><center>Score</center></th>
	<th rowspan="2"><center>Weight<br>(1-5)</center></th>
</tr>
<tr>
	<td><center>Very Low = 1</center></td>
	<td><center>Low = 2</center></td>
	<td><center>Moderate = 3</center></td>
	<td><center>High = 4</center></td>
	<td><center>Very High = 5</center></td>
	<td><center>Extremely High = 6</center></td>
	</tr>

<tr>
	<td><center>1</center></td>
	<td><center>Load<br>Pattern (%LPF)</center></td>
	
	
	
	<td><center> - </center></td>
	<td><center> &lt;= <input id="text2" type="text" name="lpf_1"></center></td>
	<td><center><input id="text1" type="text" name="ls1">-<input id="text1" type="text" name="le1"></center></td>
	<td><center><input id="text1" type="text" name="ms1">-<input id="text1" type="text" name="me1"></center></td>
	<td><center><input id="text1" type="text" name="hs1">-<input id="text1" type="text" name="he1"></center></td>
	<td><center><input id="text2" type="text" name="Vh1"></center></td>
	<td></td>
	<td><center><input id="text2" type="text" name="w1"></center></td>
</tr>

<tr>
	<td><center>2</center></td>
	<td><center>System<br>Location</center></td>
	<td><center><input id="text2" type="text" name="Bus2"></center></td>
	<td><center><input id="text2" type="text" name="Vl2"></center></td>
	<td><center><input id="text2" type="text" name="l2"></center></td>
	<td><center><input id="text2" type="text" name="m2"></center></td>
	<td><center><input id="text2" type="text" name="h2"></center></td>
	<td><center><input id="text2" type="text" name="Vh2"></center></td>
	<td><center><input id="text2" type="text" name="Eh2"></center></td>
	<td><center><input id="text2" type="text" name="w2"></center></td>
</tr>

<tr>
	<td><center>3</center></td>
	<td><center>N-1<br>Criteria</center></td>
	<td><center><input id="text2" type="text" name="Bus3"></center></td>
	<td><center>
		<select name="Vl3">
			<option value="Yes">Yes</option>
			<option value="No">No</option>
		</select>
	</center></td>
	<td><center></center></td>
	<td><center></center></td>
	<td><center></center></td>
	<td><center>
		<select name="Vh3">
			<option value="Yes">Yes</option>
			<option value="No">No</option>
		</select>
	</center></td>
	<td><center></center></td>
	<td><center><input id="text2" type="text" name="w3"></center></td>
</tr>

<tr>
	<td><center>4</center></td>
	<td><center>System<br>Stability</center></td>
	<td><center><input id="text2" type="text" name="Bus4"></center></td>
	<td><center><input id="text2" type="text" name="Vl4"></center></td>
	<td><center><input id="text2" type="text" name="l4"></center></td>
	<td><center><input id="text2" type="text" name="m4"></center></td>
	<td><center><input id="text2" type="text" name="h4"></center></td>
	<td><center><input id="text2" type="text" name="Vh4"></center></td>
	<td><center></center></td>
	<td><center><input id="text2" type="text" name="w4"></center></td>
</tr>

<tr>
	<td><center>5</center></td>
	<td><center>Application<br>/Use</center></td>
	<td><center><input id="text2" type="text" name="Bus5"></center></td>
	<td><center><input id="text2" type="text" name="Vl5"></center></td>
	<td><center><input id="text2" type="text" name="l5"></center></td>
	<td><center><input id="text2" type="text" name="m5"></center></td>
	<td><center><input id="text2" type="text" name="h5"></center></td>
	<td><center></center></td>
	<td><center></center></td>
	<td><center><input id="text2" type="text" name="w5"></center></td>
</tr>

<tr>
	<td rowspan="2"><center>6</center></td>
	<td rowspan="2"><center>System<br>Fault Level<br>(MVA)</center></td>
	<td><center><input id="text2" type="text" name="Bus6"></center></td>
	<td><center><input id="text2" type="text" name="Vl6"></center></td>
	<td><center><input id="text1" type="text" name="ls6">-<input id="text1" type="text" name="le6"></center></td>
	<td><center><input id="text1" type="text" name="ms6">-<input id="text1" type="text" name="me6"></center></td>
	<td><center><input id="text1" type="text" name="hs6">-<input id="text1" type="text" name="he6"></center></td>
	<td><center><input id="text2" type="text" name="Vh6"></center></td>
	<td><center></center></td>
	<td rowspan="2"><center><input id="text2" type="text" name="w6"></center></td>
</tr>

<tr>
	<td><center><input id="text2" type="text" name="Bus7"></center></td>
	<td><center><input id="text2" type="text" name="Vl7"></center></td>
	<td><center><input id="text1" type="text" name="ls7">-<input id="text1" type="text" name="le7"></center></td>
	<td><center><input id="text1" type="text" name="ms7">-<input id="text1" type="text" name="me7"></center></td>
	<td><center><input id="text1" type="text" name="hs7">-<input id="text1" type="text" name="he7"></center></td>
	<td><center><input id="text2" type="text" name="Vh7"></center></td>
	<td><center></center></td>
</tr>

<tr>
	<td><center>7</center></td>
	<td><center>Probability of<br>Force Outage</center></td>
	<td><center><input id="text2" type="text" name="Bus8"></center></td>
	<td><center><input id="text2" type="text" name="Vl8"></center></td>
	<td><center><input id="text2" type="text" name="l8"></center></td>
	<td><center><input id="text2" type="text" name="m8"></center></td>
	<td><center><input id="text2" type="text" name="h8"></center></td>
	<td><center><input id="text2" type="text" name="Vh8"></center></td>
	<td><center></center></td>
	<td><center><input id="text2" type="text" name="w8"></center></td>
</tr>

<tr>
	<td><center>8</center></td>
	<td><center>Social<br>aspects</center></td>
	<td><center><input id="text2" type="text" name="Bus9"></center></td>
	<td><center><input id="text2" type="text" name="Vl9"></center></td>
	<td><center><input id="text2" type="text" name="l9"></center></td>
	<td><center><input id="text2" type="text" name="m9"></center></td>
	<td><center></center></td>
	<td><center><input id="text2" type="text" name="Vh9"></center></td>
	<td><center></center></td>
	<td><center><input id="text2" type="text" name="w9"></center></td>
</tr>

<tr>
	<td><center>9</center></td>
	<td><center>Public<br>Image</center></td>
	<td><center><input id="text2" type="text" name="Bus10"></center></td>
	<td><center>
		<select name="Vl10">
			<option value="Yes">Yes</option>
			<option value="No">No</option>
		</select>
	</center></td>
	<td><center><input id="text2" type="text" name="l10"></center></td>
	<td><center></center></td>
	<td><center></center></td>
	<td><center>
		<select name="Vh10">
			<option value="Yes">Yes</option>
			<option value="No">No</option>
		</select>
	</center></td>
	<td><center></center></td>
	<td><center><input id="text2" type="text" name="w10"></center></td>
</tr>

<tr>
	<td><center>10</center></td>
	<td><center>Pollution</center></td>
	<td><center><input id="text3" type="text" name="Bus11"></center></td>
	<td><center><input id="text3" type="text" name="Vl11">mm/kv</center></td>
	<td><center><input id="text3" type="text" name="l11">mm/kv</center></td>
	<td><center><input id="text3" type="text" name="m11">mm/kv</center></td>
	<td><center><input id="text3" type="text" name="h11">mm/kv</center></td>
	<td><center></center></td>
	<td><center></center></td>
	<td><center><input id="text3" type="text" name="w11"></center></td>
</tr>

<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><center><input type="submit" value="Save"></center></td></tr>
</table>
<%end%>
</p>