<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.jqplot.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/examples.css" />
<script language="javascript" type="text/javascript" src="/javascripts/jquery.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/jquery.jqplot.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/jqplot.dateAxisRenderer.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/jqplot.ohlcRenderer.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/jqplot.json2.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/jqplot.ciParser.js"></script>

<script class="code" type="text/javascript">$(document).ready(function(){    

     var line1 = [[1,0.3],[2,0.4],[3,0.5],[4,0.6],[5,0.65], [6, 0.6], [7, 0.5], [8, 0.45], [9, 0.3], [10, 0.2], [11, 0.15], [12, 0.1], [13, 0.05]];

    plo1t = $.jqplot('chart1',[line1],{
        //title: '  Reliability Weibull Distribution',
	axes: {
                xaxis: {
                    renderer: $.jqplot.CategoryAxisRenderer,
                    min: 0,
		    //ticks: ticks,
		    label: 'Time (t)',
		    tickInterval: '5'
                },
		yaxis: {
        	    rendererOptions: { forceTickAt0: true, forceTickAt100: true },
		    min: 0,
		    max: 1,
		    label: 'Reliability'
                }
           },
       // dataRenderer: sineRenderer
    });
});</script>

<script class="code" type="text/javascript">$(document).ready(function(){     
    
    var line1 = [[1,0.3],[2,0.4],[3,0.5],[4,0.6],[5,0.65], [6, 0.6], [7, 0.5], [8, 0.45], [9, 0.3], [10, 0.2], [11, 0.15], [12, 0.1], [13, 0.05]];

    plo1t = $.jqplot('chart2',[line1],{
        //title: '  Failure Rate Weibull Distribution',
	axes: {
                xaxis: {
                    renderer: $.jqplot.CategoryAxisRenderer,
                    min: 0,
		    //ticks: ticks,
		    label: 'Time (t)',
		    tickInterval: '5'
                },
		yaxis: {
        	    rendererOptions: { forceTickAt0: true, forceTickAt100: true },
		    min: 0,
		    max: 1,
		    label: 'Failure Rate'
                }
           }
        //dataRenderer: sineRenderer
    });
});</script>

<p><h2>ผลการคำนวณ Weibull</h2></p>

<p><center><b>Weibull Data Table</b><br><br>
<table border="1">
	<tr><th><center>Rank Order,i</center></th><th><center>T</center></th><th><center>Median Rank,F(T)</center></th><th><center>x=ln(T)</center></th><th><center>y=ln(ln(1/(1-F(T))))</center></th><th><center>x^2</center></th><th><center>y^2</center></th><th><center>xy</center></th></tr>

	<tr><td><center>1</center></td><td><center>6</center></td><td><center>0.1296</center></td><td><center>1.7918</center></td><td><center>-1.9745</center></td><td><center>3.2104</center></td><td><center>3.8985</center></td><td><center>-3.5378</center></td></tr>

	<tr><td><center>2</center></td><td><center>16</center></td><td><center>0.3148</center></td><td><center>2.7726</center></td><td><center>-0.9727</center></td><td><center>7.6872</center></td><td><center>0.9461</center></td><td><center>-2.6969</center></td></tr>

	<tr><td><center>3</center></td><td><center>16</center></td><td><center>0.5000</center></td><td><center>2.7726</center></td><td><center>-0.3665</center></td><td><center>7.6872</center></td><td><center>0.1343</center></td><td><center>-1.0162</center></td></tr>

	<tr><td><center>4</center></td><td><center>21</center></td><td><center>0.6852</center></td><td><center>3.0445</center></td><td><center>-0.1448</center></td><td><center>9.2691</center></td><td><center>0.0210</center></td><td><center>0.4407</center></td></tr>

	<tr><td><center>5</center></td><td><center>21</center></td><td><center>0.8704</center></td><td><center>3.0445</center></td><td><center>-0.7145</center></td><td><center>9.2691</center></td><td><center>0.5104</center></td><td><center>2.1752</center></td></tr>

	<tr><td><center>Sum</center></td><td><center></center></td><td><center></center></td><td><center>13.4260</center></td><td><center>-2.4544</center></td><td><center>37.1231</center></td><td><center>5.5103</center></td><td><center>-4.6349</center></td></tr>

	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
</table></center></p>

<p><div class="grid_5 prefix_6">
<table>
	<tr><th colspan=2><center>Weibull Parameters</center></th><tr>
	<tr><td>Beta (β)</td><td><center>1.8249</center></td></tr>
	<tr><td>C</td><td><center>-5.3910</center></td></tr>
	<tr><td>Eta (ƞ)</td><td><center>19.1863</center></td></tr>
	<tr><td>Gamma Function (Γ)</td><td><center>0.8887</center></td></tr>
	<tr><td>MTBF</td><td><center>17.0514</center></td></tr>
</table>
</div></p>
<p><div class="grid_16 prefix_0"><center>
	<table>
		<tr><td><center><b>
		<%for i in 0..10 do%>
			&nbsp;
		<%end%>
		Reliability <br>
		<%for i in 0..10 do%>
			&nbsp;
		<%end%>
		Weibull Distribution</b><br><div id="chart1" style="height:200px; width:400px;"></div></center></td>
		<td><center><b>
		<%for i in 0..12 do%>
			&nbsp;
		<%end%>		
		Failure Rate <br>
		<%for i in 0..12 do%>
			&nbsp;
		<%end%>
		Weibull Distribution</b><br><div id="chart2" style="height:200px; width:400px;"></div></center></td></tr>
	</table></div>
</center></p>
