<script>
function displaysub(){
    var xobj = document.dynamiccombo.korn1;
    var x  = xobj.options[xobj.selectedIndex].value;
    var cacheobj=document.dynamiccombo.korn2;
	cacheobj.options.length = 0;
	if(x=="Bushing"){
		cacheobj.options[0]=new Option("ABB","ABB");
		cacheobj.options[1]=new Option("ASEA","ASEA");
		cacheobj.options[2]=new Option("GENERAL  ELECTRIC  GE","GENERAL  ELECTRIC  GE");
		cacheobj.options[3]=new Option("HAEFELY","HAEFELY");
		cacheobj.options[4]=new Option("HAEFELY TRENCH","HAEFELY TRENCH");
		cacheobj.options[5]=new Option("HEBBURN","HEBBURN");
		cacheobj.options[6]=new Option("HSP","HSP");
		cacheobj.options[7]=new Option("HSP F&G","HSP F&G");
		cacheobj.options[8]=new Option("JAPAN NGK INSULATOR LTD.","JAPAN NGK INSULATOR LTD.");
		cacheobj.options[9]=new Option("LAPP INS.","LAPP INS.");
		cacheobj.options[10]=new Option("MGK","MGK");
		cacheobj.options[11]=new Option("MICAFIL","MICAFIL");
		cacheobj.options[12]=new Option("MITSUBISHI","MITSUBISHI");
		cacheobj.options[13]=new Option("NGK","NGK");
		cacheobj.options[14]=new Option("NGN","NGN");
		cacheobj.options[15]=new Option("OSAKA","OSAKA");
		cacheobj.options[16]=new Option("RADE KONCAR","RADE KONCAR");
		cacheobj.options[17]=new Option("TOSHIBA","TOSHIBA");
		cacheobj.options[18]=new Option("TRENCH","TRENCH");
		cacheobj.options[0].selected=true;
	}else if(x=="Arrester"){
		cacheobj.options[0]=new Option("ABB","ABB");
		cacheobj.options[1]=new Option("ABB SWITCHEAR","ABB SWITCHEAR");
		cacheobj.options[2]=new Option("AEG","AEG");
		cacheobj.options[3]=new Option("ALSTOM","ALSTOM");
		cacheobj.options[4]=new Option("ASEA","ASEA");
		cacheobj.options[5]=new Option("BBC","BBC");
		cacheobj.options[6]=new Option("COOPER","COOPER");
		cacheobj.options[7]=new Option("DAIHEN","DAIHEN");
		cacheobj.options[8]=new Option("EMP","EMP");
		cacheobj.options[9]=new Option("GEC ALSTHOM","GEC ALSTHOM");
		cacheobj.options[10]=new Option("MAIDEN","MAIDEN");
		cacheobj.options[11]=new Option("MEIDENSHA","MEIDENSHA");
		cacheobj.options[12]=new Option("MEIDEN SORESTER","MEIDEN SORESTER");
		cacheobj.options[13]=new Option("METAL OXIDE SURGE ARRESTER","METAL OXIDE SURGE ARRESTER");
		cacheobj.options[14]=new Option("MITSUBISHI","MITSUBISHI");
		cacheobj.options[15]=new Option("NGK","NGK");
		cacheobj.options[16]=new Option("OHIO BRASS","OHIO BRASS");
		cacheobj.options[17]=new Option("RADE KONCAR","RADE KONCAR");
		cacheobj.options[18]=new Option("SEIMEMS","SEIMEMS");
		cacheobj.options[19]=new Option("SORESTER","SORESTER");
		cacheobj.options[20]=new Option("SURESTER MEIDENSHA","SURESTER MEIDENSHA");
		cacheobj.options[21]=new Option("TMT&D","TMT&D");
		cacheobj.options[22]=new Option("TOSHIBA","TOSHIBA");
		cacheobj.options[0].selected=true;
	}else{
		cacheobj.options[0]=new Option("ABB","ABB");
		cacheobj.options[1]=new Option("ALSTHOM","ALSTHOM");
		cacheobj.options[2]=new Option("ASEA","ASEA");
		cacheobj.options[3]=new Option("BORSDL","BORSDL");
		cacheobj.options[4]=new Option("DAIHEN","DAIHEN");
		cacheobj.options[5]=new Option("ELIN","ELIN");
		cacheobj.options[6]=new Option("FERRANTI","FERRANTI");
		cacheobj.options[7]=new Option("FUJI","FUJI");
		cacheobj.options[8]=new Option("HUAMING","HUAMING");
		cacheobj.options[9]=new Option("MASCHINENFABRIK","MASCHINENFABRIK");
		cacheobj.options[10]=new Option("MEIDEN","MEIDEN");
		cacheobj.options[11]=new Option("MEIDENSHA","MEIDENSHA");
		cacheobj.options[12]=new Option("MITSUBISHI","MITSUBISHI");
		cacheobj.options[13]=new Option("MR","MR");
		cacheobj.options[14]=new Option("TOSHIBA","TOSHIBA");
		cacheobj.options[15]=new Option("TRAFO-UNION","TRAFO-UNION");
		cacheobj.options[16]=new Option("VOLTA-WERKE","VOLTA-WERKE");
		cacheobj.options[0].selected=true;
	
	}
		
}
</script>
<p><h2>&nbsp;Inventory Control / Weibull Calculation</h2></p>
<p>
<form name='dynamiccombo'>
<table><tr><td><b>อุปกรณ์</b></td>
<td><select  name="korn1" size ="1" onChange="displaysub()">
	<option value="#" ></option>
	<option value="Bushing">Bushing</option>
	<option value="Arrester">Arrester</option>
	<option value="OLTC">OLTC</option>
</select></td></tr>
<tr><td><b>Voltage Rating</b></td>
<td><select size="1">
	<option value="#"></option>
	<option value="11">11</option>
	<option value="22">22</option>
	<option value="33">33</option>
	<option value="69">69</option>
	<option value="115">115</option>
	<option value="132">132</option>
	<option value="230">230</option>
	<option value="500">500</option>
</select></td></tr>
<tr><td><b>Manufacturer</b></td>
<td><select name = "korn2" size="1">
	<option value="#"></option>
</select></td></tr>
<tr><td><b>Type</b></td>
<td><select size="1">
	<option value="#"></option>
</select></td></tr>
<tr><td><b>รายละเอียดความผิดปกติหรือเสียหาย</b></td>
<td><select size="1">
	<option value="#"></option>
	<option value="ปกติ">ปกติ</option>
	<option value="รั่วซึม">รั่วซึม</option>
	<option value="แตก/ขาด">แตก/ขาด</option>
	<option value="ฝืด/ขัดตัว">ฝืด/ขัดตัว</option>
	<option value="หลุด/หลวม">หลุด/หลวม</option>
	<option value="สนิม/สกปรก">สนิม/สกปรก</option>
	<option value="ลัดวงจร">ลัดวงจร</option>
	<option value="Flashover">Flashover</option>
	<option value="Hot Spot">Hot Spot</option>
	<option value="อุปกรณ์ชำรุด">อุปกรณ์ชำรุด</option>
	<option value="ไม่ทำงาน">ไม่ทำงาน</option>
	<option value="ทำงานไม่ถูกต้อง">ทำงานไม่ถูกต้อง</option>
	<option value="คุณสมบัติเปลี่ยนไป">คุณสมบัติเปลี่ยนไป</option>
	<option value="ทดสอบไม่ผ่าน">ทดสอบไม่ผ่าน</option>
	<option value="อื่นๆ ให้ระบุ">อื่นๆ ให้ระบุ</option>	
</select></td></tr>
<tr><td><b>Time Interval for Failure Observation(years)</b></td>
<td><input type="text" size="10"></td></tr>
<tr><td><b>Lead Time(years)</b></td>
<td><input type="text" size="10"></td></tr>
<tr><td></td><td><input type="submit" value="คำนวณ" size="10"></td></tr>
</table>
</form>
</p>
