<p><h2>แสดงรายละเอียดอุปกรณ์ที่พิจารณา</h2></p>
<p><center>
<table border="1">
	<tr><th><center>Item</center></th><th><center>ชื่อหม้อแปลงไฟฟ้า</center></th><th><center>Equipment No.</center></th><th><center>Terminal</center></th><th><center>Serial No</center></th><th><center>Service Years</center></th></tr>
	<tr><td><center>1</center></td><td><center>KLM-KT1A</center></td><td><center>700xxxxxx</center></td><td><center>H1</center></td><td><center></center></td><td><center></center></td></tr>
	<tr><td><center>2</center></td><td><center></center></td><td><center></center></td><td><center>H2</center></td><td><center></center></td><td><center></center></td></tr>
	<tr><td><center>3</center></td><td><center></center></td><td><center></center></td><td><center>H3</center></td><td><center></center></td><td><center></center></td></tr>
	<tr><td><center>4</center></td><td><center></center></td><td><center></center></td><td><center></center></td><td><center></center></td><td><center></center></td></tr>
	<tr><td><center></center></td><td><center></center></td><td><center></center></td><td><center></center></td><td><center></center></td><td><center></center></td></tr>
</table>
</center>
