.grid_5
        .box
                %h2
                        Importance Index
                .utils
                %p
                        %strong
                                = link_to '1. Factor Setting', edit_factor_setting_index_path
                        %br
                        %strong
                                = link_to '2. ราคาและ Loss ของหม้อแปลง', search_price_loss_path 
                        %br
                        %strong
                                = link_to '3. ข้อมูลที่จำเป็นในการพิจารณา', search_information_decision_index_path


