<%initquatity=@icoilinit.InitQuantity%>
<p><table border=1>
		<tr><th><center>Date</center></th><th><center>ปริมาณน้ำมันในคลัง [ถัง]</center></th><th><center>แก้ไข</center></th></tr>
		<%icoildate=@icoilinit.Date.to_s%>
		<%n=icoildate.split('-')%>
		<tr><td><center><%=n[2]+"/"+n[1]+"/"+n[0]%></center></td><td><center><%=initquatity%></center></td><td><center><%= button_to "แก้ไข", :action => "modify_icoilinit" %></center></td></tr>
		<tr><td></td><td></td><td></td></tr>
</table></p>
