<script>
$(function() {
  $("#tabs").tabs();
});
</script>
<p><h2>รายการเบิกจ่ายน้ำมัน</h2></p>
<div id="tabs">
  <ul>
    <li><a href="#option1">ปริมาณน้ำมันเริ่มต้น</a></li>
    <li><a href="#option2">คลังน้ำมัน</a></li>
  </ul>
    <div id="option1"><p>korn1</p></div>
    <div id="option2"><p>korn2</p></div>
</div>
