<script>
$(function() {
	$("#tabs").tabs();	
});
</script>

<p><h2>รายการเบิกจ่ายน้ำมัน</h2></p>
<div id="tabs">
  <ul>
    <li><a href="#option1">รายละเอียดแต่ละครั้ง</a></li>
    <li><a href="#option2">สรุปรายปี [ถัง]</a></li>
  </ul>
    <div id="option1"><p><%= render :partial => 'oil_withdraw'%></p></div>
    <div id="option2"><p>korn2</p></div>
</div>
